body {
    margin: 0;
    font-family: "PT Sans", Arial, sans-serif;
    color: #000000;
    background-color: #f2f2f2;
    text-transform: uppercase;
}
.wrapper {
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
    position: relative;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* header */


.header-navigation-ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    padding-top: 14px;
    padding-bottom: 16px;
}
.header-navigation-ul a[href] {
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
}
.header-navigation-ul a[href]:hover, 
.header-navigation-ul a[href]:focus {
    color: #81b3d2;
}
.header-navigation-ul a[href]:active{
    color: rgba(0, 0, 0, 0.3);
}
.header-navigation-li {
    width: 180px;
    text-align: center;
}
.header-navigation-li:first-child {
    padding-left: 28px;
}
.header-navigation-li:nth-child(2) {
    padding-left: 63px;
}
.header-navigation-li:nth-child(3) {
    padding-right: 68px;
    margin-left: auto;
}
.header-navigation-li:nth-child(4) {
    padding-right: 21px;
}
.header-navigation-currentpage {
    color: #766357;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
}
.header-nav {
    position: relative;
}
.header-indexpage-logo{
    width:138px;
    height: 71px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}


/* main index.html */


.main-sedonawelcome {
    background-color: #81b3d2;
    background-image: url("../img/backgroundphoto.jpg");
    background-position: center 21%;
    background-repeat: no-repeat;
    margin-bottom: 60px;
    text-align: center;
    position: relative;
}
.main-sedonawelcome::after {
    content: "";
    width: 1200px;
    height: 58px;
    position: absolute;
    background-image: url("../img/intro-mask.svg");
    left: 0;
    bottom:-1px;
}
 .main-sedonawelcome-svg {
    width: 459px;
    height: 353px;
    margin: 0;
    padding-left: 370px;
    padding-right: 371px;
    padding-top: 76px;
    padding-bottom: 79px;
    display: block;
}
.main-reasons p {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    margin-bottom: 27px;
    padding: 0 380px;
}
.main-reasons h2 {
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    text-align: center;
    color: #333333;
    margin: 0;
    margin-bottom: 51px;
}
.main-reasons-ol {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    counter-reset: olcounter;
}
.main-reasons-ol h3 {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding-top: 47px;
    padding-bottom: 66px;
}
.main-reasons-olheading-p::before{
    counter-increment: olcounter;
    content: "— №"counter(olcounter)" —";
    position: absolute;
    left: 50%;
    top: -42px;
    transform: translateX(-50%);
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
}
.main-reasons-olheading-p {
    position: relative;
}
.main-reasons-ol p {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    text-align: center;
    margin: 0;
    padding: 0;
}
.main-reasons-liblue {
    display: flex;
    flex-wrap: wrap;
    color: #ffffff;
    background-color: #81b3d2;
}
.main-reasons-blue-textwrapper {
    width: 400px;
}
.main-reasons-ligray {
    background-color: #eeeeee;
    width: 400px;
    padding-bottom: 59px;
}
.main-reasons-ligray p{
    color: #333333;
}
.main-reasons-ul {
    list-style: none;
    color: #000000;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 82px;
}
.main-reasons-ulli h3 {
    padding-top: 161px;
    padding-bottom: 24px;
    margin: 0;
    position: relative;
}
.house-ulli h3::before{
    content: "";
    position: absolute;
    width: 75px;
    height: 72px;
    background-image: url(../img/icon-1.svg);
    left: 50%;
    transform: translateX(-50%);
    top: 60px;
}
.food-ulli h3::before{
    content: "";
    position: absolute;
    width: 74px;
    height: 70px;
    background-image: url(../img/icon-3.svg);
    left: 50%;
    transform: translateX(-50%);
    top: 60px;
}
.souvenirs-ulli h3::before{
    content: "";
    position: absolute;
    width: 64px;
    height: 76px;
    background-image: url(../img/icon-2.svg);
    left: 50%;
    transform: translateX(-50%);
    top: 56px;
}
.main-reasons-ulli p {
    color: #333333;
    margin: 0;
}
.main-reasons-ulli{
    width: 400px;
}
.main-hotelsearch {
    position: relative;
}
.main-hotelsearch-b{
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    margin-bottom: 24px;
}
.main-hotelsearch-p {
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    text-align: center;
    color: #333333;
    margin: 0;
    margin-bottom: 47px;
}
.main-button {
    display: inline-block;
    vertical-align: middle;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #ffffff;
    background-color: #766357;
    border: none;
    padding: 30px 140px;
    text-transform: uppercase;
    margin: 0 315px;
}
.main-button:hover,
.main-button:focus {
    background-color: #604e43;
}
.main-button:active {
    color: rgba(255, 255, 255, 0.302);
    background-color: #503e33;
}
.main-hotelsearch-form {
    width: 458px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    background-color: #ffffff;
    padding: 55px 55px;
    box-shadow: 0 7px 15px 0px rgba(0, 1, 1, 0.15);
}
.main-hotelsearch-form button {
    border: none;
}
.main-hotelsearch-form-wrapper {
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 29px;
}
.main-hotelsearch-form-wrapper:nth-child(2) {
    padding-bottom: 30px;
}
.main-hotelsearch-form-dateinput {
    width: 333px;
    background-color:#f2f2f2;
    border: none;
    font: inherit;
    text-transform: uppercase;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 13px;
}
.main-hotelsearch-form-buttonwrapper {
    position: relative;
}
.main-hotelsearch-form-button-calendar {
    position: absolute;
    top: 7px;
    right: 3px;
    background-color: #f2f2f2;
    opacity: 0.3;
}
.main-hotelsearch-form-button-calendar:hover {
    opacity: 1;
}
.main-hotelsearch-form-button-calendar:focus,
.main-hotelsearch-form-button-calendar:active svg {
    fill: #81b3d2;
}
.main-hotelsearch-form-quantitywrapper {
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 54px;
    align-items: center;
}
.main-hotelsearch-form-innerquantitywrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 226px;
    position: relative;
}
.main-hotelsearch-form-innerquantitywrapper:nth-child(2) {
    width: 179px;
}    
.main-hotelsearch-form-quantityinput {
    width: 114px;
    background-color:#f2f2f2;
    border: none;
    font: inherit;
    text-transform: uppercase;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
}
.button-minus {
    position: absolute;
    width: 38px;
    height: 38px;
    background-color: #f2f2f2;
    right: 76px;
    padding: 0px;
}
.button-minus::before {
    content: "";
    position: absolute;
    width: 11px;
    height: 3px;
    background-color: #a9a9a9;
    left: 13px;
    top: 18px;
}
.button-plus {
    position: absolute;
    width: 38px;
    height: 38px;
    background-color: #f2f2f2;
    right: 0px;
    padding: 0px;
}
.button-plus::before {
    content: "";
    position: absolute;
    width: 11px;
    height: 3px;
    background-color: #a9a9a9;
    left: 13px;
    top: 18px;
}
.button-plus::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 11px;
    background-color: #a9a9a9;
    left: 17px;
    top: 14px;
}
.button-plus:hover::before,
.button-minus:hover::before,
.button-plus:hover::after {
    background-color: #000000;
}
.button-plus:active::before,
.button-minus:active::before,
.button-plus:active::after,
.button-plus:focus::before,
.button-minus:focus::before,
.button-plus:focus::after {
    background-color: #81b3d2;
}
.button-minus:hover,
.button-plus:hover {
    background-color: #ebebeb;
}
.main-hotelsearch-form input:hover {
    background-color: #ebebeb;
}
.main-hotelsearch-form input:focus{
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
}
.main-hotelsearch-form input::-webkit-input-placeholder {
    color: #000000;
}
.main-hotelsearch-form input::-moz-placeholder {
    color: #000000;
}
.main-hotelsearch-form input:-ms-input-placeholder {
    color: #000000;
}
.main-hotelsearch-form input:-moz-placeholder {
    color: #000000;
}
.main-submitbutton {
    display: inline-block;
    vertical-align: middle;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    background-color: #81b3d2;
    border: none;
    text-transform: uppercase;
    width: 458px;
    padding: 16px 0;
}
.main-submitbutton:hover,
.main-submitbutton:focus {
    background-color: #669ec0;
}
.main-submitbutton:active {
    color: rgba(255, 255, 255, 0.302);
    background-color: #5496bd;
}
.main-hotelsearch-mappic img {
    display: block;
}
   
    
/* main hotels.html */


.main-filterform fieldset {
    border: none;
}
.main-filterform {
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
    color: #ffffff;
    background-color: #81b3d2;
    background-image: url("../img/filterbackground.png");
    background-repeat: no-repeat;
    background-position: center 16%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 72px;
    padding-top: 27px;
    padding-right: 72px;
    padding-bottom: 8px;
}
.main-filterform legend {
    padding-bottom: 25px;
}
.main-filterform label {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
}
.main-filterform-fieldset {
    width: 254px;
    padding: 0;
    margin: 0;
}
.main-filterform ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.main-filterform li {
    padding-bottom: 24px;
}
.main-filterform-input + label {
    position: relative;
    padding-left: 40px;
}
.main-filterform-ul label {
    padding-left: 43px;
}
.main-filterform-input + label::before {
    content: "";
    position: absolute;
    width: 23px;
    height: 23px;
    left: 1px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("../img/checkbox-off.svg");
}
.main-filterform-input:checked + label::before {
    width: 27px;
    background-image: url("../img/checkbox-on.svg");
}
.main-filterform-input:disabled + label::before {
    color: #6a6a6a;
}
.main-filterform-input:disabled + label::before {
    background-image: url(../img/checkbox-disabled-off.svg);
}
.main-filterform-input:checked:disabled + label::before {
    background-image: url(../img/checkbox-disabled-on.svg);
}
.main-filterform-input:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
}
.main-filterform-price {
    margin-left: auto;
}
.main-filterform-price p {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    padding-left: 2px;
}
.main-filterform-pricecontrols {
    display: flex;
    flex-wrap: wrap;
    width: 314px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    margin-bottom: 20px;
}
.main-filterform-pricecontrolswrap {
    width: 80px;
    text-align: center;
}
.main-filterform-pricecontrolswrap:first-child {
    margin-left: 61px;
} 
.main-filterform-pricecontrolswrap:last-child {
    margin-left: 67px;
} 
.main-filterform-pricecontrolswrap label {
    margin-left: 0;
}
.main-filterform-pricecontrolswrap input {
    width: 50px;
    margin: 0;
    color: inherit;
    background: none;
    border: none;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    padding-left: 1px;
}
.main-filterform-pricecontrols::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 22px;
    background: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main-filterform-rangecontrols {
    position: relative;
    margin-bottom: 32px;
}
.main-filterform-rangecontrols-scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}
.main-filterform-rangecontrols-bar {
    width: 83%;
    height: 2px;
    background: #ffffff;
}
.main-filterform-rangetoggle {
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
    position: absolute;
    top: -9px;
}
.rangetoggle-min {
    left: 0;
}
.range-toggle-max {
    right: 14%;
}
.main-filterform-button {
    display: block;
    margin-left: 83px;
    padding: 6px 36px;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
    text-transform: uppercase;
}
.main-filterform-button:hover,
.main-filterform-button:focus {
    color: #000000;
    background-color: #ffffff;
} 
.main-hotels-flexwrapper {
    display: flex;
    align-items: baseline;
    padding-left: 72px;
    padding-top: 25px;
    padding-right: 73px;
    padding-bottom:  19px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);    ;
}
.main-hotels-p1 {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    width: 135px;
    margin: 0;
}
.main-hotels-p2 {
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    padding-left: 29px; 
    padding-right: 40px;
}
.main-hotels-ul {
    list-style: none;
    display:flex;
    margin: 0;
    padding: 0;
    list-style: none;
    width:240px;
    justify-content: space-between;
}
.main-hotels-li-selected {
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    color: #81b3d2;
    text-align: center;
}
.main-hotels-li {
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.302);
    text-align: center;
    text-decoration: underline dotted;
    text-decoration-color: #81b3d2;
}
.main-hotels-li:hover,
.main-hotels-li:focus {
    color: #81b3d2;
}
.main-hotels-li:active {
    color: #000000;
    text-decoration: none;
}
.main-hotels-ulbuttons {
    width: 34px;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main-hotels-ulbuttons path {
    fill: #81b3d2;
}
.main-hotels-ulbuttons a[href] path {
    fill: #cacaca;
}
.main-hotels-ulbuttons a[href]:hover path,
.main-hotels-ulbuttons a[href]:focus path {
    fill: #000000;
}
.main-hotels-ulbuttons a[href]:active path {
    fill: #81b3d2;
}
.main-hotelscatalog-ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.main-hotelscatalog-li {
    display: flex;
    flex-wrap: wrap;
    padding-left: 72px;
    padding-right: 72px;
    padding-bottom: 29px;
    padding-top: 24px ;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.main-hotelscatalog-lianchor:hover,
.main-hotelscatalog-lianchor:focus {
    color: #81b3d2;
}
.main-hotelscatalog-lianchor:active {
    color: rgba(0, 0, 0, 0.3);
}
.main-hotelscatalog-lipic {
    padding-top: 7px;
    padding-right: 30px;
}
.main-hotelscatalog-lipic img {
    display: block;
}
.main-hotelscatalog-li-flexwrapper {
    margin: 0;
    padding: 0;
    width: 258px;
}
.main-hotelscatalog-lianchor {
    color: #000000;
}
.main-hotelscatalog-li-flexwrapper h3 {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    margin: 0;
    padding-bottom: 8px;
}
.main-hotelscatalog-li-innerflex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main-hoteldescription p {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    margin: 0px;
    margin-bottom: 15px;
    color: #333333;
}
.main-hoteldescription-button {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    color: #ffffff;
    background-color: #81b3d2;
    padding: 3px 16px;
}
.main-hoteldescription-button:hover,
.main-hoteldescription-button:focus {
    background-color: #669ec0;
}
.main-hoteldescription-button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}
.main-hotelreserve-button {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    color: #ffffff;
    background-color: #766357;
    padding: 3px 17px;
}
.main-hotelreserve-button:hover,
.main-hotelreserve-button:focus {
   background-color: #604348;
}
.main-hotelreserve-button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}
.main-hotelscatalog-lirate-wrapper {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: space-between;
   align-items: flex-end;
   margin-left: auto;
}
.main-hotelscatalog-lirate-starswrapper {
    margin: 0;
    padding-top: 5px;
}
.main-hotelscatalog-lirate-starswrapper img {
    padding-left: 1px;
}
.main-hotelscatalog-lirate{
    margin: 0;
    color: #666666;
    background-color: #f2f2f2;
    font-size: 14px;
    line-height: 21px;
    padding:4px 13px;
}


/* footer  */


.footer {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    display:flex;
    flex-wrap: wrap;
    padding: 36px 0;
    align-items: center;
    justify-content: space-between;
}
.footer-indexpage {
    width: 1200px;
    opacity:0.9;
    position: absolute;
    bottom:0;
    background-color: #ffffff;
}
.footer-p {
    width: 400px;
    margin: 0;
    text-align: center;
}
.footer-social-ul {
    width: 150px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
}
.footer-social-libutton {
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-social-libutton svg {
   padding-top: 6px;
}
.footer-social-libutton:hover,
.footer-social-libutton:focus {
    background-color: #669ec0;
}
.footer-social-libutton:active {
    background-color: #5496bd;
}
.footer-social-libutton:active path {
    opacity: 0.3;
}
.footer-copyright-wrapper {
    width: 400px;
}
.footer-copyright {
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    padding-left: 102px; 
    position: relative;
}
.footer-copyright-logo {
    position: absolute;
    width: 115px;
    height: 41px;
    top: 50%;
    margin-top: -20px;
    right: 101px;
}
.footer-copyright-logo:hover path, 
.footer-copyright-logo:focus path {
    fill: #81b3d2;
}
.footer-copyright-logo:active path {
    fill: #bdbbbc;
}